{% extends 'base.html' %}
{% load static %}
{% block title %}点云上采样{% endblock %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        我的点云模型库
        <small>模型可视化</small>
        <button id="back-btn" class="btn btn-xs btn-success">返回上一级</button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/index/"><i class="fa fa-user"></i>主页</a></li>
        <li><a href="/mypcbase-display-page/"><i class="fa fa-folder"></i>我的点云模型库</a></li>
        <li><a href='/mypcbase-folder-display-page/?folder_name={{folder_name}}'><i class="fa fa-folder"></i>{{folder_name}}</a></li>
        <li class="active">模型可视化</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>
            <span class="label label-default">模型名：{{pc_name}}</span>
            <a href="/static/mypcbase/{{folder_name}}/{{pc_name}}.xyz"><span class="label label-primary">下载</span></a>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-9">
            <div id="canvas"></div>
            <div id="progress" class="progress progress-striped">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                </div>
            </div>
        </div>
        <div class="col-xs-3">
          <div class="row form-group">
            <label for="point-size-slider" class="col-xs-3 control-label">点的大小</label>
            <div class="col-xs-9">
              <input type="range" name="slider" id="point-size-slider" min="0.1" max="10" step="0.1" value="2" />
            </div>
          </div>

          <div class="row form-group">
            <label class="col-xs-12 control-label">点的颜色</label>
          </div>
          <div class="row form-group">
            <label for="point-color-r-slider" class="col-xs-1 control-label">R</label>
            <label id="point-color-r-slider-val" class="col-xs-1 label label-default">0</label>
            <div class="col-xs-10">
              <input type="range" name="slider" id="point-color-r-slider" min="0" max="255" step="1" value="0" />
            </div>
          </div>
          <div class="row form-group">
            <label for="point-color-g-slider" class="col-xs-1 control-label">G</label>
            <label id="point-color-g-slider-val" class="col-xs-1 label label-default">0</label>
            <div class="col-xs-10">
              <input type="range" name="slider" id="point-color-g-slider" min="0" max="255" step="1" value="0" />
            </div>
          </div>
          <div class="row form-group">
            <label for="point-color-b-slider" class="col-xs-1 control-label">B</label>
            <label id="point-color-b-slider-val" class="col-xs-1 label label-default">0</label>
            <div class="col-xs-10">
              <input type="range" name="slider" id="point-color-b-slider" min="0" max="255" step="1" value="0" />
            </div>
          </div>
          
          <div class="row form-group">
            <label for="rotate-speed-slider" class="col-xs-3 control-label">旋转速度</label>
            <div class="col-xs-9">
              <input type="range" name="slider" id="rotate-speed-slider" min="0.0" max="0.05" step="0.001" value="0.01" />
            </div>
          </div>

          <div class="row form-group">
            <label for="rotate-axis-select" class="col-xs-3 control-label">旋转轴</label>
            <div class="col-xs-9">
              <select id="rotate-axis-select" class="form-control">
                <option>x</option>
                <option selected>y</option>
                <option>z</option>
                <option>-x</option>
                <option>-y</option>
                <option>-z</option>
              </select>
            </div>
          </div>

          <div class="row form-group">
            <label for="canvas-color-select" class="col-xs-3 control-label">幕布颜色</label>
            <div class="col-xs-9">
              <select id="canvas-color-select" class="form-control">
                <option selected>纯白</option>
                <option>浅灰</option>
                <option>亚麻色</option>
                <option>柠檬黄</option>
                <option>蜜瓜绿</option>
                <option>淡绿</option>
                <option>淡蓝</option>
                <option>橙红</option>
                <option>纯黑</option>
              </select>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-12" align="right">
              <button id="reset-btn" class="btn btn-sm btn-primary">重置</button>
              <button id="render-btn" class="btn btn-sm btn-primary">渲染</button>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block script %}
<script>
$(function () {
    $('#back-btn').click(function () {
      window.location.href = '/mypcbase-folder-display-page/?folder_name={{folder_name}}';
    });
    
    let point_color_r = parseInt($('#point-color-r-slider').val());
    let point_color_g = parseInt($('#point-color-g-slider').val());
    let point_color_b = parseInt($('#point-color-b-slider').val());
    $('#point-color-r-slider').change(function () {
      $('#point-color-r-slider-val').text($('#point-color-r-slider').val());
    });
    $('#point-color-g-slider').change(function () {
      $('#point-color-g-slider-val').text($('#point-color-g-slider').val());
    });
    $('#point-color-b-slider').change(function () {
      $('#point-color-b-slider-val').text($('#point-color-b-slider').val());
    });
    
    let doc_canvas_id = 'canvas';
    let pc_file_path = '{{ pc_file_path }}';
    let opts = {
        'height_ratio': 1.6,
        'scale_ratio': 160,
        'doc_progress_bar_id': 'progress-bar',
        'doc_progress_id': 'progress',
        'point_size': parseFloat($('#point-size-slider').val()),
        'rotate_speed': parseFloat($('#rotate-speed-slider').val()),
        'rotate_axis': $('#rotate-axis-select').val(),
        'canvas_color': $('#canvas-color-select').val(),
    };
    ply_vis(pc_file_path, doc_canvas_id, opts);

    $('#render-btn').click(function () {
      openLoadingBox('正在处理，请稍等...');
      opts['point_size'] = parseFloat($('#point-size-slider').val());
      opts['rotate_speed'] = parseFloat($('#rotate-speed-slider').val());
      opts['rotate_axis'] = $('#rotate-axis-select').val();
      opts['canvas_color'] = $('#canvas-color-select').val();
      
      let cur_point_color_r = parseInt($('#point-color-r-slider').val());
      let cur_point_color_g = parseInt($('#point-color-g-slider').val());
      let cur_point_color_b = parseInt($('#point-color-b-slider').val());
      if (cur_point_color_r === point_color_r && cur_point_color_g === point_color_g && cur_point_color_b === point_color_b) {
        $('canvas').remove();
        ply_vis(pc_file_path, doc_canvas_id, opts);
        closeLoadingBox();
      } else {
        point_color_r = cur_point_color_r;
        point_color_g = cur_point_color_g;
        point_color_b = cur_point_color_b;
        $.ajax({
          url: '/mypcbase-save-ply-with-rgb/',
          type: 'GET',
          data: { 'folder_name': '{{folder_name}}', 'pc_name': '{{ pc_name }}', 'red': point_color_r, 'green': point_color_g, 'blue': point_color_b },
          dataType: 'JSON',
          success: function (data) {
            if (data.succ == 1) {
              $('canvas').remove();
              ply_vis(pc_file_path, doc_canvas_id, opts);
            }
            closeLoadingBox();
          }
        });
      }
    });

    $('#reset-btn').click(function () {
      $('#point-size-slider').val(2);
      $('#point-color-r-slider').val(0);
      $('#point-color-r-slider-val').text(0);
      $('#point-color-g-slider').val(0);
      $('#point-color-g-slider-val').text(0);
      $('#point-color-b-slider').val(0);
      $('#point-color-b-slider-val').text(0);
      $('#rotate-speed-slider').val(0.01);
      $('#rotate-axis-select').val('y');
      $('#canvas-color-select').val('纯白');
    });
});
</script>

{% endblock %}
