{% extends 'base.html' %}
{% load static %}
{% block title %}点云上采样{% endblock %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        点云上采样
        <small>可视化</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/index/"><i class="fa fa-user"></i>主页</a></li>
        <li><a href="/pcupsample-display-page/"><i class="fa fa-dashboard"></i>展示</a></li>
        <li class="active">可视化</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12 text-center">
            <h3>
            <span class="label label-default">模型名：{{pc_name}}</span>
            </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
            <div class="text-center ">
                <h4>
                    <span class="label label-default">输入点云模型</span>
                    <a href="/static/pcupsample/input/{{pc_name}}.xyz"><span class="label label-primary">下载</span></a>
                </h4>
            </div>
            <div id="canvas1"></div>
            <div id="progress1" class="progress progress-striped">
                <div id="progress-bar1" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="text-center">
                <h4>
                    <span class="label label-default">预估点云模型</span>
                    <a href="/static/pcupsample/pred/{{pc_name}}.xyz"><span class="label label-primary">下载</span></a>
                </h4>
            </div>
            <div id="canvas2"></div>
            <div id="progress2" class="progress progress-striped">
                <div id="progress-bar2" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="text-center">
                <h4>
                    <span class="label label-default">标准点云模型</span>
                    <a href="/static/pcupsample/gt/{{pc_name}}.xyz"><span class="label label-primary">下载</span></a>
                </h4>
            </div>
            <div id="canvas3"></div>
            <div id="progress3" class="progress progress-striped">
                <div id="progress-bar3" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                </div>
            </div>
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
<script>
$(function () {
    let input_file = '{{ input_file }}';
    let pred_file = '{{ pred_file }}';
    let gt_file = '{{ gt_file }}';

    let opts = {
        'height_ratio': 1.6,
        'scale_ratio': 150
    };

    let texture_file_path = '/static/pcupsample/texture.png';
    
    let opts1 = JSON.parse(JSON.stringify(opts)); // deep copy
    opts1['doc_progress_bar_id'] = 'progress-bar1'; opts1['doc_progress_id'] = 'progress1';
    vis(input_file, 'canvas1', texture_file_path, opts1);
    
    let opts2 = JSON.parse(JSON.stringify(opts));
    opts2['doc_progress_bar_id'] = 'progress-bar2'; opts2['doc_progress_id'] = 'progress2';
    vis(pred_file, 'canvas2', texture_file_path, opts2);

    let opts3 = JSON.parse(JSON.stringify(opts));
    opts3['doc_progress_bar_id'] = 'progress-bar3'; opts3['doc_progress_id'] = 'progress3';
    vis(gt_file, 'canvas3', texture_file_path, opts3);
});
</script>

{% endblock %}
